section {
  margin-top: 5rem;
}

.highlight_matched {
  background-color: rgba(173, 255, 126, 0.699);
  color: rgb(20, 20, 20);
}

.highlight_partially_matched {
  background-color: rgb(202, 148, 148);
}

.content-preview {
  white-space: pre-wrap;
  border: 1px solid #ccc;
  margin-top: 10px;
  padding: 10px;
}

.counter-table {
  height: 25vh;
  overflow-y: auto;
  overflow-x: hidden;
}

/* shadow 3D effect */
.box {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
